.new { color: rgb(190, 6, 6); }
.raids { color: rgb(123, 10, 210); }
.events { color: rgb(9, 174, 9); }
.ditto { color: rgb(41, 135, 207); }
.eggs { color: rgb(190, 129, 14); }
.home { color: rgb(205, 205, 81); }